<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="4.0.0" targetFramework="net461" />
  <package id="CircleProgressBar" version="1.0.1" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="SideMenu" version="1.0.1" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="18.3.0.50" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.3.0.50" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.WinForms" version="18.3.0.50" targetFramework="net461" />
</packages>